<h2>Travailleur {@worker.pseudo}</h2>
<.link href={~p"/workers/#{@worker}/edit"}>
  <.button>Edit worker</.button>
</.link>

<.list>
  <:item title="Pseudo">{@worker.pseudo}</:item>
  <:item title="Email">{@worker.email}</:item>
  <:item title="Password">********</:item>
</.list>

<.back navigate={~p"/workers"}>Back to workers</.back>
