<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Tasker" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}></script>

    <script defer src="https://www.atelier-icare.net/js-libraries/dom.js"></script>
    <script defer src="https://www.atelier-icare.net/js-libraries/lib_testor.js"></script>
    <script defer src="https://www.atelier-icare.net/js-libraries/alors/alors_install.js"></script>

  </head>
  <body>
    <header><div class="content">
    <ul id="worker-mail-tools">
      <%= if @current_worker do %>
        <li class="worker-tool">
          {@current_worker.pseudo}
        </li>
        <li class="worker-tool">
          <.link href={~p"/workers/settings"}>
          <%= gettext("Settings") %>
          </.link>
        </li>
        <li class="worker-tool">
          <.link href={~p"/workers/log_out"} method="delete">
          <%= gettext("Log out") %>
          </.link>
        </li>
      <% else %>
        <li class="worker-tool">
          <.link href={~p"/workers/register"}>
            <%= gettext("Register") %>
          </.link>
        </li>
        <li class="worker-tool">
          <.link href={~p"/workers/log_in"}>
            <%= gettext("Log in") %>
          </.link>
        </li>
      <% end %>
    </ul>
    <a href={~p"/"}>
        LOGO APPLICATION
    </a></div></header>
    <.flash_group flash={@flash} />
    <% section_class = ["content", assigns[:orientation] || "portrait"] %>
    <section class={section_class}>
      <%= @inner_content %>
    </section>
    <footer><div class="content">
      <button class="btn-zen"><%= dgettext("tasker", "Zen Mode") %></button>
    </div></footer>
  </body>
</html>
