<h2><%= dgettext("tasker", "Edit Task") %>  <div class="tiny">{@task.id}</div></h2>

<% IO.inspect(assigns, label: "Assigns dans edit.html") %>

<.task_form changeset={@changeset} data={@data} back={assigns[:back]} lang={@lang} action={~p"/tasks/#{@task}"} projects={@projects} />
