<h2><%= dgettext("tasker", "Edit Task") %>  <span class="small">{@task.id}</span></h2>

<h3>Généralités</h3>

<.task_form changeset={@changeset} action={~p"/tasks/#{@task}"} projects={@projects} />

<.back navigate={~p"/tasks"}><%= dgettext("tasker", "Back to tasks") %></.back>

<h3>Spécificités</h3>

<.task_spec_form changeset={@changeset} action={~p"/task_specs/#{@task_spec}"} />

<.back navigate={~p"/tasks"}><%= dgettext("tasker", "Back to tasks") %></.back>
