div.cboxier {
  position: absolute;
  background-color: white;
  box-shadow: 5px 5px 5px 5px #CCCCCC;
  left: 0;
  top: 0;
  font-size: 0.9em;
  padding: 1em;
  z-index: 200;
  text-align: left;
}
div.cboxier.todo {
  min-width: 200px;
  max-width: 200px;
  }
div.cboxier:not(.todo){
  width: 400px;
  max-width: 1000px;
}
div.cboxier div.title {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 1em;
}
div.cboxier div.cboxier-cbs {
  max-height: 400px;
  overflow: scroll;
}
div.cboxier.todo div.cboxier-cbs {
  display: block;
}

div.cboxier:not(.todo) div.cboxier-cbs {
  display: flex;
  flex-wrap: wrap;
  /* column-gap: 20px; */
}

div.cboxier.todo div.cboxier-cbs span.cboxier-cb {
  display: block;
}
div.cboxier:not(.todo) div.cboxier-cbs span.cboxier-cb {
  display:inline-block;
}

div.cboxier div.cboxier-cbs span.cboxier-cb label {
  display: inline!important;
}
div.cboxier div.buttons {
  position: relative!important;
  width: calc(100% - 2em);
  text-align: right;
  padding:0!important;
}

div.cboxier div.buttons.main {
  padding:1em;
  left:0; bottom:0;
  margin-top:1em;
}
div.cboxier div.buttons.main button {
  width: auto!important;
  padding: 0.4em 1em;
}

div.cboxier div.buttons.mini-tools {
  height: 40px;
}
div.cboxier div.buttons.mini-tools button {
  width: auto!important;
  padding: 2px;
}
