.block {display:block!important}
.right {text-align: right;}
.left {text-align: left}
.fleft {float: left}
.error {color: red;}

.small {font-size:13pt}
.tiny {font-size:10pt}
.very-tiny {font-size: 8pt}

.hidden {display:none}
.discret {
  opacity: 0.5;
}
.disabled {
  font-style: italic;
  color: #AAAAAA;
}

.shadowed {
  box-shadow: 5px 5px 5px 5px #CCC;
  background-color:white;
  z-index:100;
}

.explication {
  font-size: 13pt;
  font-style:italic;
  opacity: 0.5;
}
.explication:hover {opacity: 1}