/* Spécialement pour les formulaires */

textarea, 
input[type="text"], 
input[type="password"], 
input[type="email"], 
input[type="number"], 
input[type="datetime-local"], 
select, select option {
  font-size:inherit;
  font-family:inherit;
  font-style: inherit;
}
input[type="number"] {width: 80px}

select, select option {
  background: bottom;
  color: #666666;
  border-color: #CCCCCC;
}

input.long { width: 75% }

form {
  border: 8px solid #EEEEEE;
  border-radius: 1em;
  padding: 2em 2.4em 2em 1.5em;
  margin: 2em 0;
}
form:not(.max) {
  max-width: 840px;
  width: 840px;
}
form.max {max-width: 100%}

div.bloc-form {

}

div.bloc-form label {
  display:inline-block;
  width: 180px;
  color: #999999;
  font-style:italic;
}

div.bloc-form > div {
  padding:0.4em 0;
}

div.bloc-form div.inline-fields > div {
  display:inline-block;
}
div.bloc-form div.inline-fields > div + div {
  margin-left: 2em
}

div.bloc-form div.inline-fields > div label {
  display: inline;
  margin-right: 0.3em;
}
div.bloc-form div.inline-fields > div label:after {
  content: ":"
}
div.bloc-form div.inline-fields.fields-3 > div label {
  margin-right: 0.5em;
}

div.actions {
  text-align: right;
  margin-top: 2em;
}

.btn {
  font-family: Arial, Helvetica, Geneva;
  font-size: inherit;
  border: 1px solid;
  padding: 0.35em 1.5em;
  background-color: #EEEEEE;
  border-radius: 8px
}
div.actions .btn {
  background-color: #76d276;
  color:white;
  border:2px solid rgb(44, 179, 44);
}
.btn:not(.big) {
  font-size: 16pt;
}

form p.error {
  font-style: italic;
  text-align: left;
  margin-left: 180px;
}

textarea {
  width: 100%;
  height: 60px;
  resize: none;
  font-size: 0.75em;
}
textarea:focus {
  height: 200px;
  font-size: 1em;
}
textarea.details {
  height: 100px;
}
textarea.details:focus {
  height: 400px;
}