body {
  font-size:16pt;
  margin-top: 100px;
  font-family: Common;
}

table {
  width: 100%
}

footer {
  position:fixed;
  bottom:0; left:0; width: 100%;
  padding:0;
  height: 50px;
  background-color:#DDDDDD;
  font-size: 0.8em;
  z-index: 500;
}

header {
  position:fixed;
  top:0; left:0; width: 100%;
  height: 50px;
  background-color:#555555;
  color: white;
  z-index:500;
}
header a {
  color: inherit
}

/* Pour footer et header */
div.content {
  padding: 12px 1em;
}
a, a:link, a:visited, a:hover {text-decoration: none}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}
/* Titre de page */
h2 { 
  font-size: 2em;
}
/* Grand sous-division de page */
h3 {
  font-size: 1.8;
  border-bottom: 1px solid #777777;
}

p {
  margin:0; padding:0;
}

.warning {color: red;}

section.content {
  margin-left: 4em;
}
section.content:not(.paysage) {
  max-width: 840px;
}
section.content.paysage {
  max-width: 90%;
  width: 90%;
}
section.content.max {
  max-width: 100%;
}

header ul#worker-mail-tools {
  position: absolute;
  right: 1em;
  top:0;
  list-style:none
}
header ul#worker-mail-tools li {
  display: inline-block;
  margin-left:1em;
  font-family: Arial, Helvetica;
  font-size: 11pt;
}

th.titre-projet {
  width: 240px;
  background-color: #DDD;
}

div#flash-group {
  position: fixed;
  background-color: white;
  width: 450px;
  border: 1px solid transparent;
  padding: 0.5em 1em;
  right: 1em;
  top: 60px;
  max-width: 450px;
  font-family: PPOptima;
  z-index: 1500;
}
div#flash-group > div {
  padding:  0.5em 1em;
}
div#flash-group > div > p {
  font-family: PPOptima!important;
  font-style: normal!important;
  font-weight: normal!important;
}
div#flash-group div#flash-error {
  position:relative;
  color: red!important;
  /* border-color: red!important; */
  background-color: #FFEEEE;
}
div#flash-group div#flash-error button.close-btn {
  background-color: red;
}
div#flash-group div#flash-info {
  position:relative;
  border-color: green!important;
  background-color: #CCFFCC;
  color: green;
}
div#flash-group div#flash-info button.close-btn {
  background-color: green;
}
div#flash-group div#flash-notice {
  position:relative;
  border-color: blue!important;
  background-color: #CCCCFF;
  color:blue;
}
div#flash-group div#flash-notice button.close-btn {
  background-color: blue;
}
div#flash-group button.close-btn {
  all: unset;
  position: absolute;
  top: 8px;
  right: 8px;
  content: "X";
  border:1px solid inherit;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
}

/* Un div présentant un état courant (comme dans la fiche d'édition de la tâche) */
div.current-state {
  opacity: 0.6;
}