<p>p:</p>
<%= essai %>

<p>avec du `code en ligne`.</p>
<p>fonction inconnue essai</p>
<p class="exergue">Bienvenue sur la page d'accueil de l'application «</p>
<%= constant_get(:app_name) %>

<p>».</p>
<p>Après vous être identifié(e), choisissez ce que vous voulez faire :</p>
<p class="center"><a href="/work">Au boulot !</a> | <a href="/tasks">Liste des tâches</a> | <a href="/tasks/new">Créer une nouvelle tâche</a></p>
<pre><code>
Du code qui doit rester tel quel.
fonction() <= ne doit pas être touché
<%= je dois rester comme ça %>
</code></pre>
