<h2><%= gettext("Confirm account") %></h2>

<.simple_form for={@conn.params["worker"]} as={:worker} action={~p"/workers/confirm/#{@token}"}>
  <:actions>
    <.button class="w-full"><%= gettext("Confirm my account") %></.button>
  </:actions>
</.simple_form>

<p class="text-center mt-4">
  <.link href={~p"/workers/register"}><%= gettext("Register") %></.link>
  | <.link href={~p"/workers/log_in"}><%= gettext("Log in") %></.link>
</p>
