/* 
Tous les styles pour le panneau de travail.
*/
:root {
  --button-height: 100px;
}

div#current-task-container {
  position:fixed;
  --main-width: 1000px;
  --main-height: 700px;
  top: 100px;
  left: calc(50% - var(--main-width)/2);
  width: var(--main-width);
  height: var(--main-height);
  border: 1px solid #00FF00;
  text-align: center;
}

div#current-task-count {
  position:fixed;
  background-color: lightgreen;
  border-radius: 50%;
  padding: 0.5em;
  left: 8px;
  top: 42px;
  width: 24px;
  color:rgb(56, 76, 228);
  text-align: center;
  font-weight: bold;
}

/* 
  === ASPECT DE LA TÂCHE COURANT ===
*/
div#current-task {
  position: absolute;
  --width: 600px;
  --height: 300px;
  top: 90px;
  left: calc(50% - ( var(--width) / 2) - 2em);
  width: var(--width);
  /* height: var(--height); */
  max-height: 800px;
  border: 1px solid #FF0000;
  padding:2em;
  padding-bottom: 1em;
  border-radius:2em;
}

div#current-task > div {
  margin-top: 8px;
}
/* Le TITRE de la tâche */
div#current-task div#current-task-title {
  text-align: left;
  margin-left: 30px;
  font-size: 1.2em
}
/* Le DÉTAIL de la tâche */
div#current-task div#current-task-details {
  margin-left: 0;
  max-height: 180px;
  overflow: scroll
}
/* La ligne de TAGS de la tâche */
div#current-task div#current-task-tags {
  margin-left: 0;
  max-height: 3em;
  padding: 4px;
  overflow: hidden;
}
/* Spans pour les tags et les scripts */
div#current-task span.mini-tool {
  border: 1px solid #999;
  border-radius: 12px;
  padding: 0 12px 1px;
  margin-left: 12px;
  font-size: 12pt;
  cursor:pointer;
  white-space: nowrap;
}

/* La ligne de SCRIPTS de la tâche */
div#current-task div#current-task-scripts {
  margin-left: 0;
  text-align: left;
  font-size: 13pt;
  padding: 4px;
  overflow: hidden;
}

/* La ligne de NOTES de la tâche */
div#current-task div#current-task-notes {
  margin-left: 0;
  text-align: left;
  padding: 4px;
  height: 120px;
  max-height: 120px;
  overflow: scroll;
}
div#current-task div#current-task-notes div.title {
  font-weight: bold;
  font-size: 13pt;
}
div#current-task div#current-task-notes div.details {
  font-weight: normal;
  font-size: 12pt;
}

/* L'INDEX ABSOLU de la tâche */
div#current-task span#current-task-absolute_index {
  position: absolute;
  top: 10px; left: 10px;
  display:inline-block;
  text-align:center;
  vertical-align: middle;
  line-height: 1.7em;
  background-color: yellow;
  color: grey;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

/* 

======== ASPECT DES BOUTONS ==========

*/
div#current-task-container button.btn,
div#current-task-container div#horloge {
  background: #F4FFF4;
  padding: 1.2em 1.5em;
  border-radius: 2em;
}
div#current-task-container button.btn {
  cursor:pointer;
}
div#current-task-container button.btn:not(.btn-start):not(.btn-stop) {
  opacity: 0.5
}

div#current-task-container button.btn:hover {
  opacity:1
}

div#current-task-container button[data-state="actif"] {
  background-color: green;
  color: white;
}

div#current-task-container div#horloge {
  position:relative;
  display:inline-block;
  font-family: Monospace;
  font-size: 22pt;
}
/* Contenant pour boutons alternatifs (un affiché/un masqué) */
div#current-task-container div.bouton {
  position: absolute;
  display: inline-block;
}
/* Les boutons (alternatif) à l'intérieur d'un div.bouton */
div#current-task-container div.bouton button.btn {
  position:relative;
}

div#current-task-container div.buttons.bottom-right {
  right: 0px;
  bottom: 0px;
}

/* Les DIV contenant les boutons autour de la tâche */
div.buttons {
  position: absolute!important;
  padding: 0;
  margin: 0;
}
div#current-task-container div.buttons > button {
  position: relative;
  margin-left: 0px;
}

div#current-task-container button.main {
  background-color: green!important;
  color: white!important;
  opacity: 1!important;
}

div.buttons.top-left {
  top: 0; left: 0;
  text-align: left;
}

div.buttons.bottom-left {
  bottom: 0px; left: 0;
  text-align: left;
}
div.buttons.bottom-left button,
div.buttons.top-left button {
  margin:0;
  margin-right: 10px
}

div.buttons.right-column {
  top: 0; right: 0;
}
div.buttons.right-column button,
div.buttons.left-column button {
  width: 150px;
}
div.buttons.left-column {
  top: 140px; left: 0;
  text-align: left;
}
div.buttons.right-column,
div.buttons.left-column {
  vertical-align: top;
  width: 200px;
  max-width: 200px;
  
}
div.buttons.right-column button,
div.buttons.left-column button {
  margin-bottom: 8px;
}


/* 

  === ASPECT DES CARTES EN LISTING ===

  */

div.task-as-list {
  position: absolute;
  z-index: 200;
  padding: 1em 2em 2em;
  border: 2px solid darkblue;
  background-color: #f6ffff;
  border-radius: 1em;
  width: 400px;
  min-height: 300px;
}
div.task-as-list div.title {
  font-weight: bold;
  margin-bottom:  12px;
}
div.task-as-list div.details {
  font-size: 0.85em;
}

/* 
Pour les alertes données au cours du travail

*/
div#alerts {
  position: fixed;
  bottom: 6em;
  border: 3px solid rgb(40, 2, 133);
}
div#alerts div.alert {
  position:relative;
  border: 1px solid rgb(40, 2, 133);
  background-color: lightblue;
  padding: 0.5em;
}
div#alerts div.alert button {
  font-size: 11pt!important;
  margin-left: 12px;
}