<.feuille_css />
<h2><%= gettext("Your Account Settings") %></h2>
<div class="subtitle">
  <a href={~p"/workers/settings/edit"}>[<%= gettext("modify") %>]</a>
</div>

<%= raw affichage_settings(@settings, :display) %>
