<h2><%= dgettext("tasker", "Edit Project") %> <.project_title project={@project} /></h2>

<div class="right">
  <button class="back-btn" data-default_back={~s(/projects|#{dgettext("tasker", "Back to projects")})}></button>
</div>

<.project_form changeset={@changeset} action={~p"/projects/#{@project}"} />

<div class="right">
  <button class="back-btn" data-default_back={~s(/projects|#{dgettext("tasker", "Back to projects")})}></button>
</div>
