<h2>
  <%= dgettext("tasker", "New Project") %>
</h2>

<.project_form changeset={@changeset} action={~p"/projects"} />

<div class="right">
  <button class="back-btn" data-default_back={~s(/projects|#{dgettext("tasker", "Back to projects")})}></button>
</div>
