<.header>
  Task spec {@task_spec.id}
  <:subtitle>This is a task_spec record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/task_specs/#{@task_spec}/edit"}>
      <.button>Edit task_spec</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Details">{@task_spec.details}</:item>
</.list>

<.back navigate={~p"/task_specs"}>Back to task_specs</.back>
